USE [master]
GO
/****** Object:  Database [BookCatalog]    Script Date: 11/5/2020 3:33:41 PM ******/
CREATE DATABASE [BookCatalog]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookCatalog', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BookCatalog.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookCatalog_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BookCatalog_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookCatalog].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookCatalog]
GO
/****** Object:  Table [dbo].[BOOK]    Script Date: 11/5/2020 3:33:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOOK](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITLE] [varchar](50) NULL,
	[AUTHOR_ID] [int] NULL,
	[GENERE_ID] [int] NULL,
	[PRICE] [money] NULL,
	[RELEASE_DATE] [date] NULL,
 CONSTRAINT [PK_BOOK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AUTHOR]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTHOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[SEX_ID] [int] NULL,
	[NATIONALITY_ID] [int] NULL,
 CONSTRAINT [PK_AUTHOR] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SEX]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEX](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_SEX] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NATIONALITY]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NATIONALITY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_NATIONALITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERE]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
 CONSTRAINT [PK_GENERE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BOOKCATALOG_VIEW]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BOOKCATALOG_VIEW] AS

select
 BOOK.ID , bOOK.TITLE , AUTHOR.Name ,SEX.NAME AS SEX,NATIONALITY.NAME AS NATIONALITY,GENERE.NAME AS GENDER, bOOK.PRICE , bOOK.RELEASE_DATE 
FROM BOOK INNER JOIN AUTHOR ON AUTHOR_ID = AUTHOR.ID
           INNER JOIN GENERE ON GENERE_ID = GENERE.ID
           INNER JOIN SEX ON SEX_ID = SEX.ID
		   INNER JOIN NATIONALITY ON NATIONALITY_ID = NATIONALITY.ID



GO
SET IDENTITY_INSERT [dbo].[AUTHOR] ON 

INSERT [dbo].[AUTHOR] ([ID], [NAME], [SEX_ID], [NATIONALITY_ID]) VALUES (1, N'David_lynn', 1, 1)
INSERT [dbo].[AUTHOR] ([ID], [NAME], [SEX_ID], [NATIONALITY_ID]) VALUES (2, N'PETER GRIFFIN', NULL, NULL)
INSERT [dbo].[AUTHOR] ([ID], [NAME], [SEX_ID], [NATIONALITY_ID]) VALUES (3, N'JENN JHONSON', NULL, NULL)
SET IDENTITY_INSERT [dbo].[AUTHOR] OFF
SET IDENTITY_INSERT [dbo].[BOOK] ON 

INSERT [dbo].[BOOK] ([ID], [TITLE], [AUTHOR_ID], [GENERE_ID], [PRICE], [RELEASE_DATE]) VALUES (1, N'planet earth', 1, 1, 100.0000, CAST(N'2010-10-10' AS Date))
INSERT [dbo].[BOOK] ([ID], [TITLE], [AUTHOR_ID], [GENERE_ID], [PRICE], [RELEASE_DATE]) VALUES (2, N'ALONE IN DARK', NULL, NULL, 100.0000, CAST(N'2010-10-10' AS Date))
INSERT [dbo].[BOOK] ([ID], [TITLE], [AUTHOR_ID], [GENERE_ID], [PRICE], [RELEASE_DATE]) VALUES (6, N'MYSTERY', 6, 6, 50.0000, CAST(N'2016-06-06' AS Date))
SET IDENTITY_INSERT [dbo].[BOOK] OFF
SET IDENTITY_INSERT [dbo].[GENERE] ON 

INSERT [dbo].[GENERE] ([ID], [NAME]) VALUES (1, N'novel')
INSERT [dbo].[GENERE] ([ID], [NAME]) VALUES (2, N'COMEDY')
INSERT [dbo].[GENERE] ([ID], [NAME]) VALUES (3, N'THRILLER')
SET IDENTITY_INSERT [dbo].[GENERE] OFF
SET IDENTITY_INSERT [dbo].[NATIONALITY] ON 

INSERT [dbo].[NATIONALITY] ([ID], [NAME]) VALUES (1, N'england')
INSERT [dbo].[NATIONALITY] ([ID], [NAME]) VALUES (2, N'AMERICAN')
INSERT [dbo].[NATIONALITY] ([ID], [NAME]) VALUES (3, N'AMERICAN')
SET IDENTITY_INSERT [dbo].[NATIONALITY] OFF
SET IDENTITY_INSERT [dbo].[SEX] ON 

INSERT [dbo].[SEX] ([ID], [NAME]) VALUES (1, N'male')
INSERT [dbo].[SEX] ([ID], [NAME]) VALUES (2, N'MALE')
INSERT [dbo].[SEX] ([ID], [NAME]) VALUES (3, N'FEMALE')
SET IDENTITY_INSERT [dbo].[SEX] OFF
ALTER TABLE [dbo].[AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_NATIONALITY] FOREIGN KEY([NATIONALITY_ID])
REFERENCES [dbo].[NATIONALITY] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR] CHECK CONSTRAINT [FK_AUTHOR_NATIONALITY]
GO
ALTER TABLE [dbo].[AUTHOR]  WITH CHECK ADD  CONSTRAINT [FK_AUTHOR_SEX] FOREIGN KEY([SEX_ID])
REFERENCES [dbo].[SEX] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AUTHOR] CHECK CONSTRAINT [FK_AUTHOR_SEX]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_AUTHOR] FOREIGN KEY([AUTHOR_ID])
REFERENCES [dbo].[AUTHOR] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_AUTHOR]
GO
ALTER TABLE [dbo].[BOOK]  WITH CHECK ADD  CONSTRAINT [FK_BOOK_GENERE] FOREIGN KEY([GENERE_ID])
REFERENCES [dbo].[GENERE] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[BOOK] CHECK CONSTRAINT [FK_BOOK_GENERE]
GO
/****** Object:  StoredProcedure [dbo].[DELETEBOOK]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETEBOOK]
@TITLE VARCHAR(50)
AS
BEGIN
DELETE FROM BOOK WHERE BOOK.TITLE = @TITLE
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTAUTHOR]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTAUTHOR]

@NAME VARCHAR(50),
@SEX VARCHAR(50) ,
@NATIONALITY VARCHAR(50)

AS BEGIN

DECLARE @SEXID AS INT
DECLARE @NATIONALITYID AS INT

INSERT INTO SEX(NAME) VALUES(@SEX)
SELECT @SEXID = SEX.ID FROM SEX WHERE SEX.NAME = @SEX

INSERT INTO NATIONALITY(NAME) VALUES (@NATIONALITY)
SELECT @NATIONALITYID = NATIONALITY.ID FROM NATIONALITY WHERE NATIONALITY.NAME = @NATIONALITY

INSERT INTO AUTHOR(NAME,SEX_ID,NATIONALITY_ID) VALUES (@NAME,@SEXID,@NATIONALITYID)

END
GO
/****** Object:  StoredProcedure [dbo].[INSERTBOOKS]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERTBOOKS]

@TITLE VARCHAR(50),
@AUTHORID INT,
@GENER VARCHAR(50) ,
@PRICE MONEY ,
@RELEASEDATE DATE

AS BEGIN
DECLARE @GENERID AS INT

INSERT INTO GENERE(NAME) VALUES(@GENER)
SELECT @GENERID = GENERE.ID FROM GENERE WHERE GENERE.NAME = @GENER

INSERT INTO BOOK(TITLE,AUTHOR_ID,GENERE_ID,PRICE,RELEASE_DATE) VALUES (@TITLE,@AUTHORID,@GENERID,@PRICE,@RELEASEDATE)


END
GO
/****** Object:  StoredProcedure [dbo].[SEARCHBOOKS]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SEARCHBOOKS]
@INPUT VARCHAR(50)
AS 
BEGIN

select
 BOOK.ID , bOOK.TITLE , AUTHOR.Name AS AUTHOR ,SEX.NAME AS SEX,NATIONALITY.NAME AS AUTHOR_NATIONALITY,GENERE.NAME AS BOOK_GENER, bOOK.PRICE , bOOK.RELEASE_DATE 
FROM BOOK INNER JOIN AUTHOR ON AUTHOR_ID = AUTHOR.ID
           INNER JOIN GENERE ON GENERE_ID = GENERE.ID
           INNER JOIN SEX ON SEX_ID = SEX.ID
		   INNER JOIN NATIONALITY ON NATIONALITY_ID = NATIONALITY.ID 

WHERE BOOK.TITLE LIKE '%' + @INPUT + '%'  OR AUTHOR.NAME LIKE '%' + @INPUT + '%' OR GENERE.NAME LIKE '%' + @INPUT + '%'

END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_AUTHOR_IDS]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SELECT_AUTHOR_IDS]
AS BEGIN
select id from AUTHOR END
GO
/****** Object:  StoredProcedure [dbo].[SELECT_AUTHORS_NAME]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECT_AUTHORS_NAME] 
AS BEGIN 
SELECT NAME FROM AUTHOR
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTAUTHORS]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTAUTHORS]
AS BEGIN

SELECT
AUTHOR.ID , AUTHOR.NAME ,SEX.NAME AS SEX , NATIONALITY.NAME AS NATIONALITY
FROM AUTHOR INNER JOIN SEX ON SEX_ID = SEX.ID
            INNER JOIN NATIONALITY ON NATIONALITY_ID = NATIONALITY.ID 
END
GO
/****** Object:  StoredProcedure [dbo].[SELECTBOOKS]    Script Date: 11/5/2020 3:33:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SELECTBOOKS]
AS BEGIN
select
 BOOK.ID , bOOK.TITLE , AUTHOR.Name AS AUTHOR , GENERE.NAME AS BOOK_GENER , bOOK.PRICE, bOOK.RELEASE_DATE , NATIONALITY.NAME AS AUTHOR_NATIONALITY,SEX.NAME AS AUTHOR_SEX  
FROM BOOK INNER JOIN AUTHOR ON AUTHOR_ID = AUTHOR.ID
           INNER JOIN GENERE ON GENERE_ID = GENERE.ID
           INNER JOIN SEX ON SEX_ID = SEX.ID
		   INNER JOIN NATIONALITY ON NATIONALITY_ID = NATIONALITY.ID
END
GO
USE [master]
GO
